:root {
    --text-color: hsl(0, 0%, 95%);
    --linear: hsl(0, 0%, 25%);
    --background-section-1: hsl(0, 0%, 10%);
    --background-section-2: hsl(222, 29%, 38%);
    --background-title: hsl(0, 0%, 20%);
    --text-sub: hsl(16, 100%, 40%);
    --text-light: hsl(16, 100%, 60%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

*::selection {
    background-color: var(--text-color);
    color: var(--text-sub);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb {
    background: var(--text-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-sub);
}

body {
    display: block;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: var(--text-sub);
    z-index: 1;
}

.layout {
    width: 100vw;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    z-index: 5;
}

.slide {
    width: 45%;
    max-width: 400px;
    height: 80vh;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: var(--text-color);
    border-radius: 0 0 10px 0;
    z-index: 6;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.slider {
    transform: translateX(0);
}

.slide-list {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 0.5rem;
    padding: 15px 10px;
    border-radius: 12px;
    border: 1px solid var(--background-section-1);
    margin: 5px 0;
    transition: width .3s ease-in-out, transform .3s ease-in-out;
    user-select: none;
}

.slide .slide-list:last-child {
    margin-top: auto;
}

.slide-list:hover {
    border: 1px solid var(--text-sub);
    box-shadow: 0 0 5px var(--text-sub);
    transform: translateX(1rem);
    width: 80%;
}

.slide-list span {
    color: var(--background-section-1);
    font-size: 1rem;
}

.slide-list .slide-list-img {
    width: 25px;
    aspect-ratio: 1;
}

.slide-list:hover .slide-list-img {
    animation: ring 0.75s ease-in-out;
}

#menu {
    width: 35px;
    aspect-ratio: 1;
    margin-left: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    transition: padding 0.2s;
    z-index: 3;
    position: fixed;
    top: 8px;
    user-select: none;
}

.line {
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--background-section-1);
    border-radius: 1.5px;
    transition: transform .3s, width 0.2s;
}

.line:nth-of-type(1),
.line:nth-of-type(3) {
    transform-origin: 0 50%;
}

.first-child {
    transform: rotate(45deg);
    width: 93%;
    height: 2px;
}

.second-child {
    width: 0;
}

.third-child {
    transform: rotate(-45deg);
    width: 93%;
    height: 2px;

}

#menu:active {
    padding-left: 7px;
    padding-right: 0;
}

.change {
    transform: translateX(-300px);
}

#navbar .lists-nav {
    display: flex;
    width: 300px;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

#navbar .lists-nav .contact-section {
    font-size: 1.2rem;
}

#welcome-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,
            var(--linear),
            var(--background-section-1));
    padding-top: 50px;
    display: block;
}


#personal {
    width: 400px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatar {
    width: 22%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    animation: lighting 2s linear infinite;
}

#avatar img {
    display: block;
    object-fit: cover;
    width: 100%;
}

#contents {
    width: max-content;
    height: 100%;
    text-align: start;
}

.title {
    font-size: 2.5rem;
}

#contents p {
    font-size: 1.5rem;
    color: var(--text-sub);
}

.info-about-me {
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    align-items: flex-start;
}

.ul-column {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 20px;
    width: 150px;
}

.ul-column .list-info {
    width: 100%;
    background-color: var(--text-sub);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    font-weight: 500;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    user-select: none;
}

.ul-column .list-info:hover {
    background-color: var(--text-color);
    color: var(--text-sub);
}

.ul-column .list-info:active {
    transform: scale(0.9);
}

.info-detail {
    height: 100%;
    width: calc(100vw - 200px);
    overflow-y: scroll;
    scrollbar-width: none;
    border-top: 1px solid var(--text-color);
    padding: 10px 20px;
    box-shadow: 0 0 10px #0ef;
}

.info-detail .section-slide {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.ul-father {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
    list-style-type: decimal;
    animation: appear 1s;
}

.ul-father .li-father strong {
    color: var(--text-light);
}

.ul-father .li-father .ul-child {
    list-style-type: disc;
}

.under-ul-child {
    list-style-type: square;
    padding: 0 13px;
}

#projects {
    width: 100vw;
    display: block;
    background-color: var(--background-section-2);
    padding: 3.5rem 1rem 2.5rem 1rem;
}

#projects * {
    text-align: center;
}

#projects h1 {
    font-size: 2rem;
}

#projects hr {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    height: 3px;
    background-color: var(--text-color);
    border: none;
    border-radius: 1.5px;
}

#projects .list-projects {
    width: 99%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
}

.project-tile {
    width: calc((100% - 80px) / 3);
    aspect-ratio: 1;
    background-color: var(--text-color);
    border: 1px solid var(--background-section-1);
    overflow: hidden;
}

.project-tile .project-tile-images {
    object-fit: cover;
    width: 100%;
    height: 85%;
    display: block;
    transition: transform .3s ease-in-out;
}

.project-tile:hover .project-tile-images {
    transform: scale(1.05);
}

.project-tile .project-tile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-title);
    height: 15%;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.project-tile .project-tile-title .project-tile-char {
    opacity: 0;
    color: var(--text-sub);
    transition: opacity 0.3s;
    font-size: 1.3rem;
}

.project-tile:hover {
    cursor: pointer;
}

.project-tile:hover .project-tile-char {
    opacity: 1;
    text-shadow: 0 0 10px var(--text-light);
}

a #expend {
    display: flex;
    height: 40px;
    width: max-content;
    background-color: var(--background-title);
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    border-radius: 10px;
    margin: 3rem auto 0 auto;
    padding: 10px;
    transition: all .3s ease-in-out;
}

a #expend:hover {
    padding: 20px;
    text-shadow: 0 0 5px var(--text-sub);
    color: var(--text-sub);
}

a #char {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: transform 0.3s;
}

#expend:hover #char {
    transform: translateX(5px);
    color: var(--text-sub);
}

#contact {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,
            var(--linear),
            var(--background-section-1));
    text-align: center;
    display: block;
    position: absolute;
}

#contact i,
#contact h1 {
    position: relative;
    top: 15%;
}

#contact i {
    font-size: 1.2rem;
}

#contact-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

#contact-social .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

#contact-social .social-icons:hover {
    transform: translateX(0.5rem);
}

.social-icons img {
    height: 1.5rem;
    width: 1.5rem;
    background: var(--text-color);
    border-radius: 50%;
}

#contact hr {
    border: none;
    height: 3px;
    width: 100%;
    background-color: var(--text-sub);
    position: absolute;
    top: 92%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    gap: 20px;
    top: calc(100vh - 40px);
    width: 100%;
    padding: 10px 10px;
    height: 20px;
    font-size: 0.8rem;
    text-align: start;
}

#footer p:last-child {
    text-align: center;
}

@keyframes ring {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes lighting {
    0% {
        box-shadow: 0 0 10px hsl(16, 100%, 40%);
    }

    25% {
        box-shadow: 0 0 13px hsl(16, 100%, 50%);
    }

    50% {
        box-shadow: 0 0 16px hsl(16, 100%, 60%);
    }

    75% {
        box-shadow: 0 0 13px hsl(16, 100%, 50%);
    }

    100% {
        box-shadow: 0 0 10px hsl(16, 100%, 40%);
    }
}

@keyframes appear {
    from {
        filter: blur(10px);
    }

    to {
        filter: blur(0);
    }
}

@media screen and (max-width: 1000px) {
    .project-tile {
        width: calc((100% - 40px) / 2);
    }
}

@media screen and (max-width: 750px) {
    .project-tile {
        width: 100%;
    }

    #footer {
        font-size: 0.8rem
    }

    .slide-list span {
        color: var(--background-section-1);
        font-size: 1rem;
    }

    .ul-father {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .ul-column {
        width: 120px;
        font-weight: 300;
    }

    .info-detail {
        width: calc(100vw - 140px)
    }

    .ul-column,
    .info-detail {
        font-size: small;
    }

    .ul-father {
        word-spacing: normal;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 400px) {
    #personal {
        width: 90vw;
    }

    .title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 300px) {
    * {
        font-size: smaller !important;
    }

    #menu {
        display: none;
    }

    #personal {
        display: block;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #avatar {
        width: 70%;
        margin: 0 auto;
        font-size: 3rem;
    }

    #contents{
        text-align: center;
        margin: 5px auto;
        font-size: 2rem;
    }



    #contents p {
        font-size: 1.5rem;
    }

    .info-about-me {
        display: none;
    }

    .social-icons img {
        height: 0.5rem;
        width: 0.5rem;
    }

    #contact-social .social-icons:hover {
        transform: translateY(0.2rem);
    }

    #contact-social .social-icons {
        gap: 3px;
    }

    #contact hr {
        height: 1px;
        top: 72%;
    }

    #footer {
        top: 60%;
    }

}